DATABASE_URL="postgresql://postgres:postgres@localhost:5432/infomed?schema=public"
DIRECT_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/infomed?schema=public"
JWT_SECRET="super-secret-medical-center"
JWT_EXPIRES_IN="1d"
CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
PORT=3000
